/* You can add global styles to this file, and also import other style files */
.product-list {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}

.product-item {
  width: 25%;
}

.product-item {
  padding: 10px;
}

.bg-red {
  background-color: red($color: #dd1515);
}