/* You can add global styles to this file, and also import other style files */
.product-list {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}

.product-item {
  width: 25%;
}

.fa-heart {
  color: grey;
}
