@font-face {
  font-family: "utm-avo";
  src: url("../font/utm-avo.woff") format("woff");
  src: url("../font/utm-avo.woff") format("truetype");
}
@font-face {
  font-family: "utm-avo-bold";
  src: url("../font/utm-avobold.woff") format("woff");
  src: url("../font/utm-avobold.woff") format("truetype");
}
.btn {
  width: 125px;
  height: 45px;
  background-color: #4bbc56;
  color: #ffff;
  font-size: 14px;
  font-family: "utm-avo-bold";
}

[class^=col-] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-end-right, .footer-list-end .footer-item, .title-option, .section-banner, .icon-menu, .contact, .footer-top-list ul, .section-aside-top ul, .section-footer-top ul, .section-banner ul, .icon-menu ul, .main-menu ul, .content-right ul, .section-footer-end, .section-header-bottom, .logo, .section-header-top, .section-page-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.footer-top-list ul, .section-aside-top ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-footer-end, .section-header-bottom, .logo, .section-header-top, .section-page-content {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.section-footer-top ul, .section-banner ul, .icon-menu ul, .main-menu ul, .content-right ul {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.section-footer-top ul, .section-banner ul, .icon-menu ul, .main-menu ul, .content-right ul {
  list-style-type: none;
}

.footer-top-list ul, .section-aside-top ul {
  list-style-type: disc;
}

.footer-list .footer-item-link {
  color: #ffff;
  font-size: 12px;
  text-transform: uppercase;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.row {
  padding-bottom: 20px;
}

[class^=col-] {
  padding: 10px;
}

::placeholder {
  color: #0d1d25;
}

.page-header, .page-main, .page-footer {
  display: block;
}

.section-page-content {
  margin-top: 65px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.content-right {
  padding: 0px;
}

.services-item {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  position: relative;
}
.services-item-img {
  width: 100%;
}
.services-item-name {
  padding: 20px 20px 36px 20px;
}
.services-item-name .services-title {
  margin-bottom: 9px;
  color: #282828;
  font-size: 16px;
  text-transform: uppercase;
}
.services-item-name .services-details {
  color: #282828;
  font-size: 13px;
}

.img-switch {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 307px;
}

.section-header-top {
  padding: 11px 10px;
}

.logo-img {
  width: auto;
}
.logo-name {
  width: 100%;
  padding: 10px 14px;
  color: #0d1d25;
}
.logo-name-title {
  font-size: 20px;
  font-family: "utm-avo-bold";
  text-transform: uppercase;
}
.logo-name-slogant {
  font-size: 16px;
  font-family: "utm-avo";
  margin-top: 3px;
}

.contact {
  margin-left: auto;
  align-items: center;
}
.contact-question {
  margin: 9px;
  color: #686868;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}
.contact-phone {
  font-size: 18px;
  color: #62c6f8;
  font-weight: bold;
}

.border-header {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.section-header-bottom {
  padding: 0px 10px;
}

.menu-list {
  align-items: center;
}
.menu-list .menu-item {
  padding: 22px 22px;
  border-right: 1px solid #e8e8e8;
  text-transform: uppercase;
}
.menu-list .menu-item-link {
  color: #8e8e8e;
  font-size: 12px;
}
.menu-list .menu-item-link:hover {
  color: #62c6f8;
}

.icon-menu {
  margin-left: auto;
  align-items: center;
}
.icon-menu .icon-menu-list .icon-menu-item {
  margin-right: 10px;
}

.section-banner {
  align-items: center;
  background-image: url("../images/banner.png");
  height: 160px;
}

.main-breadcrumb .breadcrumb-item {
  margin: 2px;
  font-size: 12px;
  text-transform: uppercase;
}
.main-breadcrumb .breadcrumb-item-link {
  color: #0d1d25;
}
.main-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  padding: 16px;
  content: "/";
}

.content-left {
  padding: 10px;
}

.title-option {
  justify-content: space-between;
  height: 50px;
  text-transform: uppercase;
  align-items: center;
  background-color: #d9e4e9;
  padding-left: 15px;
  padding-right: 20px;
  color: #3e494f;
}
.title-option .title-name-option {
  font-family: "utm-avo";
  font-size: 12px;
}
.title-option-switch {
  font-size: 22px;
}

.dropdown-list {
  padding: 10px 20px;
}
.dropdown-list .drop-item {
  margin: 6px 7px;
}
.dropdown-list .drop-item-link {
  color: #30393f;
  font-size: 12px;
  font-family: "utm-avo";
  font-weight: 600;
}

.section-aside-bottom {
  margin-top: 40px;
}

.title-book {
  height: 80px;
  text-transform: uppercase;
  align-items: center;
  background-color: #d9e4e9;
  padding-left: 15px;
  padding-right: 20px;
  color: #0d1d25;
}
.title-book .title-name-book {
  padding-top: 20px;
  font-family: "utm-avo-bold";
  font-size: 18px;
}
.title-book .title-name-book::after {
  width: 25%;
  display: block;
  border-bottom: 2px solid #62c6f8;
  content: "";
  margin-top: 20px;
}

.btn-send {
  margin-left: 65px;
}

.form-input {
  background-color: #d9e4e9;
  padding: 0px 20px 20px;
}
.form-input .list-input {
  padding: 10px 0px;
}
.form-input .list-input .input-item {
  height: 38px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
.form-input .list-input-time {
  position: relative;
}
.form-input .list-input-time .input-time-img {
  position: absolute;
  top: 18px;
  right: 5px;
  z-index: 1;
}

.page-footer {
  background-color: #62c6f8;
  color: #ffff;
}

.section-footer-top {
  padding-bottom: none;
}

.footer-top-list {
  padding-bottom: 0px;
  text-transform: uppercase;
}

.footer-top-title {
  margin-top: 35px;
  font-size: 18px;
  font-family: "utm-avo-bold";
}

.footer-list {
  list-style-type: disc;
  padding: 10px;
}
.footer-list .footer-item {
  margin: 7px 0px;
}
.footer-list-end {
  list-style-type: none;
  padding-left: 0px;
}
.footer-list-end .footer-item {
  margin: 5px 0px 5px;
  align-items: center;
}
.footer-list-end .footer-item-link {
  margin-left: 5px;
}

.border-footer {
  border-top: 1px solid #81d1f9;
}

.section-footer-end {
  height: 55px;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}

.footer-end-left::before {
  content: "@";
}

.footer-end-right {
  margin-left: auto;
  padding-right: 20px;
}
.footer-end-right .dd-com {
  color: #86ffbf;
}

/*# sourceMappingURL=main.css.map */
