%border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
}

%flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

%flex-nowrap {
  @extend %flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

%flex-wrap {
  @extend %flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; 
}

%ul-li-wrap {
  ul{
    @extend %flex-wrap;
    #{$point}: none;
  }
}

%ul-li-colum {
  ul {
    @extend %flex;
    @extend %flex-column;
    #{$point}: disc;
  }
}

%footer-a {
  color: #ffff;
  font-size: 12px;
  text-transform: uppercase;
}
