$color-text: #0d1d25;
$color-primarily: #62c6f8;
$color-border-ft: #81d1f9;
$color-sub: #86ffbf;
$color-text-ft: #ffff;
$color-border-hd: #8e8e8e;
$color-text-question: #686868;
$color-br-form: #d9e4e9;
$color-text-aside: #30393f;
$color-text-services: #282828;
