$cl-l-green: #99cc00;
$cl-green: #99ff33;
$cl-white: #ffff;
$cl-l-dark: #8e8e8e;
$cl-dark: #686868;
$cl-w-dark: rgb(248, 240, 240);
$cl-l-black: #30393f;
$cl-black: #282828;

// name color
$color:(
  primary: $cl-green,
  secondary: $cl-l-green,
  link: $cl-l-green,
  normal: $cl-white,
  accent: $cl-black
);

// font
$font-utm-avo: "utm-avo", Arial, Helvetica, sans-serif;
$font-utm-avo-bold:"utm-avo-bold", Arial, Helvetica, sans-serif;
$font-arial: Arial, Helvetica, sans-serif;

$font:(
  primary: $font-utm-avo,
  secondary: $font-arial,
  accent: $font-utm-avo-bold
);

// font-size 
$font-size:(
  font-xxl: 30px,
  font-xl: 20px,
  font-lg: 18px,
  font-md: 16px,
  font-sm: 14px,
  font-xm: 13px,
  font-xxm: 12px
);
