* {
  margin: 0px;
  padding: 0px;
  border: none;
}

body {
  font-family: map-get($map: $font-family, $key: default);
  font-size: map-get($map: $font-size, $key: default);
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

