@font-face {
  font-family: 'utm-avo';
  src: url('../font/utm-avo.woff') format('woff');
  src: url('../font/utm-avo.woff') format('truetype');
}

@font-face {
  font-family: 'utm-avo-bold';
  src: url('../font/utm-avobold.woff') format('woff');
  src: url('../font/utm-avobold.woff') format('truetype');
}
