.txt-primary {
  font-size: 12px;
}

.txt-md {
  font-size: 18px;
}

.txt-lg {
  font-size: 24px;
}

.txt-xl {
  font-size: 30px;
}

.txt-xxl {
  font-size: 48px;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-lowercase{
  text-transform: lowercase;
}
