.content-left {
  padding: 10px;
}

.section-aside-top {
  @extend %ul-li-colum;
}
.title-option {
  @extend %flex;
  justify-content: space-between;
  @include title-aside(50px, false);
  .title-name-option {
    font-family: "utm-avo";
    font-size: 12px;
  }
  &-switch {
    font-size: 22px;
  }
}

.dropdown-list {
  padding: 10px 20px;
  color: #868e92;
  .drop-item {
    margin: 6px 7px;
    &-link {
      color: #30393f;
      font: {
        size: 12px;
        family: 'utm-avo';
        weight: 600;
      }
    }
  }
}

.section-aside-bottom {
  margin-top: 40px;
}

.title-book {
  @include title-aside(80px, true);
  .title-name-book {
    padding-top: 20px;
    font-family: "utm-avo-bold";
    font-size: 18px;
  }
  .title-name-book::after {
    width: 25%;
    display: block;
    border-bottom: 2px solid #62c6f8;
    content: '';
    margin-top: 20px;
  }
}
      
.btn-send {
  margin-left: 65px;
}
