h2{
  display: block;
  text-align: center;
  margin: 100px 350px 100px 350px;
  font-size: 45px;
  width: 50%;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
.main{
  display: flex;
  flex-wrap: nowrap;
}
.main_left{
  width: 25%;
  margin: 0px 20px 0px 220px;
  padding: 30px 50px;
  border: 10px solid rgb(235, 238, 238);
}
.main_left h4{
  font-size: 35px;
}
.main_left p{
  font-size: 30px;
}
.main_left strong{
  font-size: 30px;
}
.main_left .main_left__signature{
  font-size: 25px;
  color: deepskyblue;
}

.main_right{
  padding: 10px;
  width: 40%;
  margin: 1px 50px 20px 10px;
}
.main_right p{
  font-size: 30px;
}
