@for $i from 1 through 6 {
  .pd-#{$i} {
    padding: $i * 5px;
  }
}

@for $i from 1 through 6 {
  .pt-#{$i} {
    padding-top: $i * 5px;
  }
}

@for $i from 1 through 6 {
  .pl-#{$i} {
    padding-left: $i * 5px;
  }
}

@for $i from 1 through 6 {
  .pb-#{$i} {
    padding-bottom: $i * 5px;
  }
}

@for $i from 1 through 6 {
  .pr-#{$i} {
    padding-right: $i * 5px;
  }
}

@for $i from 1 through 6 {
  .mg-#{$i} {
    margin: $i * 5px;
  }
}

@for $i from 1 through 6 {
  .mt-#{$i} {
    margin-top: $i * 5px;
  }
}

@for $i from 1 through 6 {
  .ml-#{$i} {
    margin-left: $i * 5px;
  }
}

@for $i from 1 through 6 {
  .mb-#{$i} {
    margin-bottom: $i * 5px;
  }
}

@for $i from 1 through 6 {
  .mr-#{$i} {
    margin-right: $i * 5px;
  }
}
