@font-face {
  font-family: 'utm-avo';
  src: url('font/utm-avo.woff') format('woff');
  src: url('font/utm-avo.woff') format('truetype');
}

@font-face {
  font-family: 'utm-avo-bold';
  src: url('font/utm-avobold.woff') format('woff');
  src: url('font/utm-avobold.woff') format('truetype');
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.row {
  padding-bottom: 20px;
}

[class^="col-"] {
  padding: 10px;
  @extend %border-box;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / (12/$i);
  }
}

%border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$color-text:  #0d1d25;
$border-color: 1px solid #e9e9e9;
$point: list-style-type;

%flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
}

%flex-nowrap {
  @extend %flex;
  flex-wrap: nowrap;
}

%flex-wrap {
  @extend %flex;
  flex-wrap: wrap;
}

%ul-li-wrap {
  ul{
    @extend %flex-wrap;
    #{$point}: none;
    li a {
      text-decoration: none;
    }
  }
}

@mixin name-page ($font-size, $font-family){
  font-size: $font-size;
  font-family: $font-family;
}

@mixin title-aside($h, $title-book: false) {
  height: $h;
  text-transform: uppercase;
  align-items: center;
  background-color: #d9e4e9;
  padding-left: 15px;
  padding-right: 20px;
  @if($title-book == true){
    color: #0d1d25;
  }
  @else {
    color:  #3e494f;
  }
}

%ul-li-colum {
  ul {
    @extend %flex;
    flex-direction: column;
    li a {
      text-decoration: none;
    }
  }
}

%footer-a {
  text-decoration: none;
  color: #ffff;
  font-size: 12px;
  text-transform: uppercase;
}

::placeholder {
  color: #0d1d25;
}
