.section-main {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  background-color: $cl-w-dark;
}

.button-list {
  width: 40%;
}

// .button-item {
//   width: 100%;
// }
// .btn-switch::after {
//   content: '';
//   display: block;
//   align-items: center;
//   width: 100%;
//   border: 2px solid map-get($map: $color, $key: primary);
// }

.title-page {
  color: map-get($map: $color, $key: primary);
  font-family: map-get($map: $font, $key: secondary);
  font-weight: bolder;
}

.img-banner {
  width: 100%;
}


