.section-main {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  background-color: $cl-w-dark;
  width: 100%;
  margin: 0 auto;
}

.button-list {
  width: 73%;
}

.line-switch {
  border: 2px solid map-get($map: $color, $key: primary);
  width: 39px;
  height: 0px;
}

.button-item {
  display: flex;
}

.title-page {
  color: map-get($map: $color, $key: primary);
  font-family: map-get($map: $font, $key: secondary);
  font-weight: bolder;
}

.img-banner {
  width: 100%;
}


