@font-face{
  font-family: 'utm-avo';
  src: url('font/utm-avo.woff') format('woff');
  src: url('font/utm-avo.woff')  format('truetype');
}
@font-face{
  font-family: 'utm-avo-bold';
  src: url('font/utm-avobold.woff') format('woff'), 
  url('font/utm-avobold.woff')  format('truetype');
}
*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  padding-left: 11.25%;
  padding-right: 11.25%;
}
.page-header{
  display: block;
}
.section-header-top{
  padding-top: 8px;
  padding-block-end: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.header-top-logo{
  display: flex;
  flex-wrap: wrap;
}
#logo{
  height: 100%;
}
.header-top-name-page{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.name-page{
  font-size: 20px;
  color: #0d1d25;
  font-family: 'utm-avo-bold';
  text-transform: uppercase;
}
.name-page-slogant{
  margin-top: 3px;
  font-size:16px;
  color: #0d1d25;
  font-family: 'utm-avo';
}
.header-top-contact{
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  align-items: center;
}
.contact__question{
  margin: 9px;
  font-size: 14px;
  color:#686868;
  font-weight: bold;
}
.contact__phone{
  font-size: 18px;
  color: #4cc1fc;
  font-weight: bold;
}
.section-menu{
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  flex-wrap: wrap;
}
.main-menu{
  display: flex;
  flex-wrap: wrap;
}
.menu-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
}
.menu-item{
  padding: 22px 22px;
  border-right: 1px solid  #e9e9e9;
  text-transform: uppercase;
}
.menu-item:last-child{
  border: none;
}
.menu-item-link{
  color:#8e8e8e;
  text-decoration: none;
  font-size: 12px;
}
.menu-item-link:hover{
  color: #62c6f8;
}
.icon-menu{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icon-menu-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.icon-menu-item{
 margin-left: 10px;
}
/* main page */
.page-main{
  display: flex;
  flex-direction: column;
}
.section-banner{
  background-image: url('images/banner.png');
  height: 160px;
}
.main-breadcrumb{
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
}
.breadcrumb-item{
  margin: 2px;
  font-size: 12px;
  text-transform: uppercase;
}
.breadcrumb-item +.breadcrumb-item:before{
  padding: 1em;
  content: "/";
}
.breadcrumb-item-link{
  text-decoration: none;
  color:#0d1d25;
  font-size: 12px;
}
/* main content */
.section-option{
  padding-top: 75px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.05%;
}
.page-main-left{
  width: 23.7%;
}
.section-option-adults{
  display: flex;
  flex-direction: column;
}
.tilte-option{
  position: relative;
  background-color:#d9e4e9;
  padding: 15px 20px;
}
.tilte-option-name{
  font-family: 'utm-avo';
  color:#3e494f;
  font-size: 12px;
  text-transform: uppercase;
}
.tilte-option-switch{
  position: absolute;
  z-index: 1;
  top:5%;
  right: 4%;
  color:#3e494f;
  font-family:'utm-avo';
  font-size: 22px;
}
.dropdown-list{
  padding: 12px 28px;
  color:#868e92;
}
.drop-item{
  margin: 11px 7px;
}
.drop-item-link{
  text-decoration: none;
  color:  #30393f;
  font-size: 12px;
  font-family: 'utm-avo';
  font-weight: 600;
}
.tilte-book{
  margin-left: 7%;
  padding-top: 7%;
  text-transform: uppercase;
}
::placeholder {
  color:#0d1d25;
  padding-left: 5%;
}
.tilte-name-book{
  font-size: 18px;
  font-family: 'utm-avo-bold';
}
.tilte-name-book::after{
  padding-top: 6%;
  display: block;
  width: 25%;
  border-bottom: 2px solid #62c6f8;
  content: '';
}
.section-book-schedule{
  margin-top: 13.6%;
  padding-bottom: 6%;
  background-color: #d9e4e9;
}
.form-input-book{
  width: 100%;
}
.list-input{
  margin: 7.5%;
}
.input-item{
  width: 100%;
  height: 38px;
  margin-top: -2%;
  font-size: 13px;
  border: none;
}
.btn-send{
  display: flex;
  justify-content: center;
  height: 46px;
  width: 42%;
  margin-left: 29%;
  background-color: #4bbc56;
  color: #ffff;
  font-size: 14px;
  font-family: 'utm-avo-bold';
  border: none;
}
.input-input-time{
  position: relative;
  margin-bottom: 5%;
}
.input-time-img{
  position: absolute;
  right: 2%;
  top: 16%;
}
.section-product{
  width: 76.1%;
  display: flex;
  flex-wrap: wrap;
}
.product-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.product-item{
  position: relative;
  border: 1px solid #ebebeb;
  margin: 0% 0% 2.2% 1.9%;
  width: 31.2%;
}
.product-item-img{
 width: 100%;
}
.product-tilte-item{
  padding: 6% 8% 12.5% 8%;
}
.product-title-name{
  margin-bottom: 9px;
  color: #282828;
  font-size: 16px;
  text-transform: uppercase;
}
.product-title-details{
  color: #282828;
  font-size: 13px;
}
.product-img-end{
  position: absolute;
  right: 0;
  top: 95.5%;
  z-index: 3;
}
/* footer */
.page-footer{
  background-color: #62c6f8;
  color:#ffff;
}
.section-footer-top{
  display:flex;
  flex-wrap: wrap;
  border-bottom: 1px solid  #81d1f9;
  padding-top: 40px;
  padding-block-end: 15px;
}
.footer-top-item{
  width: 33.3333333%;
  margin-right: 6px;
}
.footer-title-item{
  margin: 5px 0px 15px 0px;
  font-size: 18px;
  font-family: 'utm-avo-bold';
  text-transform: uppercase;
}
.footer-list{
  list-style-position: inside;
  font-size: 18px;
}
.footer-item{
  margin: 10px 0px 10px 0px;
}
.footer-item-link{
  text-decoration: none;
  color: #ffff;
  font-size: 12px;
  text-transform: uppercase;
}
.social {
  list-style-type: none;
}
.social .footer-item{
  display: flex;
  align-items: center;
}
.social .footer-item .footer-item-link{
  margin-left: 10px;
}
.section-footer-end{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-block-end: 20px;
  font-size: 12px;
  text-transform: uppercase;
}
.adress_coppy{
  text-transform: uppercase;
}
.adress_coppy::before{
  content: '\0040';
}
.dd-com{
  color:#86ffbf;
}
.footer-end__right{
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-left: auto;
}
